name: Test Markdown

on:
  repository_dispatch:
    types: [rsw.push, rsw.pull_request]

jobs:
  register:
    runs-on: ubuntu-latest
    steps:
    - name: Register Workflow
      uses: bubkoo/bot/src/rsw@master
      with:
        id: ${{ github.event.client_payload.id }}
        callback: ${{ github.event.client_payload.data.callback }}
        sha: ${{ github.event.client_payload.data.sha }}
        run_id: ${{ github.run_id }}
        name: ${{ github.workflow }}
        enforce: true
        doc_path: ".github/workflow/workflow-readme.md"
    # Default environment variables can's be overwrited
    # https://docs.github.com/en/actions/learn-github-actions/environment-variables#naming-conventions-for-environment-variables
    # https://github.com/actions/toolkit/blob/main/packages/github/src/context.ts#L40
    - name: Update Environment Variable
      run: |
        echo "GITHUB_SHA=${{ github.event.client_payload.data.sha }}" >> $GITHUB_ENV
        echo "GITHUB_REF=${{ github.event.client_payload.data.ref }}" >> $GITHUB_ENV
        echo "GITHUB_EVENT_NAME=${{github.event.client_payload.data.event }}" >> $GITHUB_ENV
        echo "GITHUB_ACTION=${{github.event.client_payload.data.action }}" >> $GITHUB_ENV
        echo '${{ github.event.client_payload.payload }}' >| $GITHUB_EVENT_PATH

