name: Test Checkout

on:
  repository_dispatch:
    types: [rsw.push, rsw.pull_request]

jobs:
  register:
    runs-on: ubuntu-latest
    steps:
    - name: Register Workflow
      uses: bubkoo/bot/src/rsw@master
      with:
        id: ${{ github.event.client_payload.id }}
        callback: ${{ github.event.client_payload.data.callback }}
        sha: ${{ github.event.client_payload.data.sha }}
        run_id: ${{ github.run_id }}
        name: ${{ github.workflow }}
    - name: Checkout
      uses: actions/checkout@v3
      with:
        repository: ${{ github.event.client_payload.data.repo.full_name }}
        ref: ${{ github.event.client_payload.data.sha }}
        token: ${{ github.event.client_payload.app_token }}
